<app-header></app-header>
<div class="header-content">
    <div class="person-detail-text">Person Details
    </div>
    <div class="search-and-add-button">
        <div routerLink="/add-contact" routerLinkActive=true class="add-button">
            <div class="add-icon-position">
                <mat-icon class="add-icon">add</mat-icon>
            </div>
            <span>Add Person</span>
        </div>
    </div>
</div>
<table class="table">

    <tr class="tr">
        <th class="th" *ngFor="let head of headerList">{{head}}</th>
        <th class="th"> </th>
    </tr>
    <tr class="tr" *ngFor="let person of contactList">
        <td class="td">{{person.fname}}</td>
        <td class="td">
            <div class="address"> {{person.address}}</div>
        </td>

        <td class="td">{{person.city}}</td>
        <td class="td">{{person.state}}</td>
        <td class="td">{{person.zip}}</td>
        <td class="td">{{person.phone}}</td>
        <td class="td">
            <div class="action">
                <div (click)=deletePerson(person.id) class="delete">
                    <mat-icon>delete</mat-icon>
                </div>
                <div class="create">
                    <mat-icon>create</mat-icon>
                </div>
            </div>
        </td>
    </tr>
</table>