<app-header></app-header>
<div class="form-container">
    <div class="form-header">
        <div class="title">
            Person Address form
        </div>
        <div class="cancle">
            <div (click)=cancle()>
                <mat-icon >cancel</mat-icon>
            </div>
        </div>
    </div>
    <form class="form" #formDetails="ngForm" name="contact">
        <div class="form-row">
            <label class="label text" for="name">Full Name</label>
            <input class="input" type="text" pattern="[A-Z][a-z]{2,}$" ngModel name="name" #name="ngModel" required>
            <div class="alert" [hidden]="!(name.errors?.pattern && !name.untouched)">Name should start with capital letter and have minimum 3 letters </div>
        </div>
        <div class="form-row">
            <label class="label text">Phone Number</label>
            <input class="input" type="tel" pattern="[0-9]{10}$" ngModel name="phone" #phone="ngModel" required>
            <div class="alert" [hidden]="!(phone.errors?.pattern && !phone.untouched)">Phone Number should be of 10 digit</div>
        </div>
        <div class="form-row">
            <label class="label text">Address</label>
            <input class="address" type="text" ngModel name="address" #address="ngModel" required>
        </div>
        <div class="form-row">
            <div class="combo">
                <div class="select-block">
                    <label class="label text">City</label>
                    <select name="city" ngModel class="dropdown">
                        <option *ngFor="let city of cityList" value="{{city}}">{{city}}</option>
                    </select>

                </div>
                <div class="select-block">
                    <label class="label text">State</label>
                    <select  name="state" ngModel class="dropdown">
                            <option *ngFor="let state of stateList" value="{{state}}">{{state}}</option>
                    </select>

                </div>
                <div class="select-block">
                    <label class="label text">Zip Code</label>
                    <input class="input" type="number" ngModel name="zip" #zip="ngModel" required>

                </div>
            </div>
            <div class="submit-reset">
                <button class="button" [disabled]="!formDetails.valid" (click)=addContact(formDetails)>Add</button>
                <button class="button" (click)=reset()>Reset</button>
            </div>
        </div>

    </form>
</div>